.App {
  font-family: sans-serif;
}
.section {
  height: 150vh; /* 뷰포트의 높이만큼 설정 */
}

/* 각 섹션 스타일 */
.main,
.profile,
.works,
.skill {
  position: -webkit-sticky; 
  position: sticky;
  top: 0; /* 화면 상단에 고정됨 */
  background-color: #ffffff; /* 각 섹션의 배경색 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  padding: 20px; /* 내용과의 간격 조정 */
}
.main{
  background-color: red;
}
.profile{

}
.works{

}
.skill{

}