.App {
  font-family: NotoSansKr;
  text-align: center;

}
.section {
  height: 200vh; /* 뷰포트의 높이만큼 설정 */
  align-items: center;
}

/* 각 섹션 스타일 */
.main,
.profile,
.works,
.skill {
  position: -webkit-sticky; 
  position: sticky;
  top: 30%; /* 화면 상단에 고정됨 */
  background-color: #ffffff; /* 각 섹션의 배경색 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  padding: 20px; /* 내용과의 간격 조정 */
}
.main{
  font-size: large;
}
.profile{

}
.works{

}
.skill{

}



.main.animate {
  animation: fadeInUp 3s forwards; /* 애니메이션 이름, 지속 시간, 채우기 모드 */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* 시작 위치 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 최종 위치 */
  }
}